{% extends 'base.html' %}

{% block title %}Adopt now{% endblock %}

{% block content %}
    <div class="row">
       
    <div class="col-12 col-lg-6">
    <!--Form-->
<h1 class="px-2">Paw Portal Registration</h1>
<form action="/contact/" class="form-group px-3" id="form" action="#" method="post">
    {% csrf_token %}
    <label class="formtxt"  for="name">Name:</label><br>
    <input class="formtxt" class="form-control" type="text" id="name" name="name" placeholder="Name" required><br><br>

    <label class="formtxt" for="surname">Surname:</label><br>
    <input  class="formtxt" class="form-control" type="text" id="surname" name="surname" placeholder="Surname" required><br><br>

    <label class="formtxt" for="phone">Phone Number:</label><br>
    <input class="formtxt" class="form-control" type="tel" id="phone" name="phone" placeholder="Phone Number" required ><br><br>

    <label class="formtxt" for="email">Email:</label><br>
    <input class="formtxt" class="form-control" type="email" id="email" placeholder="Email" name="email" required><br><br>

    <label class="formtxt" for="pet">Choose a pet you are intersted in:</label><br>
    <select  class="formtxt" id="pet" name="pet" required>
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="bird">Bird</option>
    </select><br><br>
    <label class="formtxt" for="moreInfo">Additional Information:</label><br>
    <textarea class="formtxt" id="moreInfo" name="moreInfo"  rows="4" cols="50" placeholder="More infformation on the pet you would like"></textarea><br><br>

    <input class="formtxt"  id="submit" type="submit" value="Submit"><br><br>
</form><br>
</div>
<div class="col-12 col-lg-6">
    
    <img id="adoptimg" src="https://www.austinpetsalive.org/uploads/banners/_1200x630_crop_center-center_82_none/adopt_banner.jpg?mtime=1551171441" >
        </div>
</div>
{% endblock %}


